
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_a overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Self Test</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- quiz_area_start -->
<div class="quiz_area">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="btn-default" id="correct" style="display:none">
                <h3 style="color:forestgreen; padding-left:20px;">Correct</h3>
            </div>
            <div class="btn-default" id="incorrect" style="display:none">
                <h3 style="color:red; padding-left:20px;">Incorrect</h3>
            </div>
            <div class="modal-header">
                <div id="question1">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">1</span> What should not be contained in your composting list?</h3>
                </div>
                <div id="question2" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">2</span> Whenever your kitchen scraps container is full you should:</h3>
                </div>
                <div id="question3" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">3</span> If your compost starts to smell what are the next step you should do?</h3>
                </div>
                <div id="question4" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">4</span> Which of the following denotes compost is ready?</h3>
                </div>
                <div id="question5" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">5</span> What is the best place you should put your compost bin?</h3>
                </div>
                <div id="question6" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">6</span> Which is organic waste?</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="quiz" id="quiz1" data-toggle="buttons">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Fruits and vegetable waste</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Used paper towel and wood chips</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Grains and small amounts of cooked food</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. Large amounts of oil and meat</label>
                </div>
                <div class="quiz" id="quiz2" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Scatter dried garden waste on the top of the compost</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Pour the food scarps on the top of the compost</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Mix them into the compost with 3 or 4 stirs (takes 30 seconds or less)</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above</label>
                </div>
                <div class="quiz" id="quiz3" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. stir thoroughly</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. add more dry garden scraps</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. add a few spoon fulls of ash, dolomite, or garden lime</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. all of the above</label>
                </div>
                <div class="quiz" id="quiz4" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. when it smells tangy</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>B. when it looks like black fluffy soil and smells earthy</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. when it's dry and crumbly</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. when the time length is more than one month</label>
                </div>
                <div class="quiz" id="quiz5" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. a sunny spot</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. a shady spot</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. near your back door just for convenience</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. a surface of earth, sand, or gravel that drains</label>
                </div>
                <div class="quiz" id="quiz6" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Plastic bags</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Water bottles</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>C. Newspaper</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" style="margin-bottom:12px;"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. Battery</label>
                </div>

                <div>
                    <p>
                        <a id="hint1" class="btn btn-primary" data-toggle="collapse" href="#hintcontent1" role="button" aria-expanded="false" aria-controls="hintcontent1">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent1">
                        <div class="card card-body">
                            
                            <p>All food and drink scraps including chilli, garlic, citrus, grains, dairy and tiny amounts of meat. Food scraps are wet and high in nitrogen which helps compost break down. Substitutes include: manure, fresh grass clippings and seaweed.</p>
                            <p>All grass and plant clippings, leaves, mulch and wood chips. Garden scraps are dry and high in carbon so they’ll stop your compost from smelling. Substitutes include: shredded paper, cardboard, coffee husks and grain husks.</p>
                            <p>Avoid adding more than 100g of meat, tofu, dairy, eggs or oils at one time. Technically anything organic (once living) can be composted. However, in a small backyard compost bin it's best to be careful and follow these guidelines.</p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a id="hint2" class="btn btn-primary" data-toggle="collapse" href="#hintcontent2" role="button" aria-expanded="false" aria-controls="hintcontent2" style="display:none;">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent2">
                        <div class="card card-body">
                            <p>Keep a container or bucket in your kitchen to collect food and drink scraps. Empty the container into your compost bin every few days.</p>
                            <p>Keep your stirrer next to the compost and turn it every time you add food scraps. Sink your stirrer into the top 2/3 of your compost and pull it up several times, “tossing” the food scraps and letting fresh air in.</p>
                            <p>Scatter a bucket of garden scraps or clippings across the top every time. This keeps the top of the compost neat and deters vermin. The garden scraps will be mixed through next time you turn the compost.</p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a id="hint3" class="btn btn-primary" data-toggle="collapse" href="#hintcontent3" role="button" aria-expanded="false" aria-controls="hintcontent3" style="display:none;">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent3">
                        <div class="card card-body">
                            <p>If it smells then it probably hasn’t been stirred enough and is too wet. Give the whole compost a good stir for aeration and add more garden scraps. If smells are strong, sprinkle ash, dolomite or garden lime on top.</p>
                            <p>Composting is very easy and you won't have any problems if you “Food, Stir, Garden” every time.</p>
                            <p>Keeping your microbial workers happy is the secret to composting. If you have a problem, think about what might be imbalanced in terms of their home, diet, air and moisture.</p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a id="hint4" class="btn btn-primary" data-toggle="collapse" href="#hintcontent4" role="button" aria-expanded="false" aria-controls="hintcontent4" style="display:none;">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent4">
                        <div class="card card-body">
                            <p>Your compost is ready to harvest if it looks like dark, rich soil and smells earthy. This normally takes 3 to 6 months.</p>
                            <p>The newer food scraps on the top may not have broken down, so harvest your compost from the bottom of the bin. Any scraps that haven’t broken down yet can be thrown back in.</p>
                            <p>Don't worry about eggshells or avocado seeds not breaking down. If the rest of the compost is black, fluffy and smells earthy then it's okay. The eggshells won't be visible in your garden once you add a layer of mulch over the top.</p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a id="hint5" class="btn btn-primary" data-toggle="collapse" href="#hintcontent5" role="button" aria-expanded="false" aria-controls="hintcontent5" style="display:none;">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent5">
                        <div class="card card-body">
                            <p>Install your compost bin on bare earth with good drainage and find a spot that is conveniently located, so that you can access it easily.</p>
                            <p>Keep your bin close to your house so it's convenient to empty your scraps. Position it away from windows and neighbours. Compost breaks down faster in the sun, but requires less stirring in the shade.</p>
                            <p>Good drainage is best. Place your compost on soil, sand or gravel that drains well. Avoid sealed surfaces like concrete because this will lead to soggy, smelly compost.</p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a id="hint6" class="btn btn-primary" data-toggle="collapse" href="#hintcontent6" role="button" aria-expanded="false" aria-controls="hintcontent6" style="display:none;">
                            Hints
                        </a>

                    </p>
                    <div class="collapse" id="hintcontent6">
                        <div class="card card-body">
                            <p>Potential sources of compostable materials, or feedstocks, include residential, agricultural and commercial waste streams.</p>
                            <p>There are two broad categories of organic solid waste: green waste and brown waste. Green waste is generally considered a source of nitrogen and includes pre- and post-consumer food waste, grass clippings, garden trimmings and fresh leaves. Animal carcasses, roadkill and butcher residue can also be composted and these are considered nitrogen sources. Brown waste is a carbon source; typical examples are dried vegetation and woody material such as fallen leaves, straw, woodchips, limbs, logs, pine needles, sawdust and wood ash (not charcoal ash).</p>
                            <p>Human excreta can be added as an input to the composting process since it is a nitrogen-rich organic material. It can be either composted directly in composting toilets, or indirectly in the form of sewage sludge after it has undergone treatment in a sewage treatment plant. </p>
                            <a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>
                        </div>
                    </div>
                </div>



                <div id="answer1" style="display:none;">
                    <h3 style="margin-top:0px;">
                        Fundamental Awareness (basic knowledge)
                    </h3>
                    <p>
                        You probably don't know anything about composting, or you only know some very basic knowledge, we will provide you with detailed process and related knowledge about composting.
                    </p>
                    <div align="center"><a href="~/Results/Fundamental" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer2" style="display:none;">
                    <h3 style="margin-top:0px;">
                        Novice (limited experience)
                    </h3>
                    <p>
                        You only know some basic knowledge, and you are a novice in composting.
                    </p>
                    <div align="center"><a href="~/Results/Novice" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer3" style="display:none;">
                    <h3 style="margin-top:0px;">
                        Intermediate (practical application)
                    </h3>
                    <p>
                        You already have an intermediate level of composting skills, but there are still some areas you can improve.
                    </p>
                    <div align="center"><a href="~/Results/Intermediate" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer4" style="display:none;">
                    <h3 style="margin-top:0px;">
                        Advanced (applied theory)
                    </h3>
                    <p>
                        You already have advanced composting knowledge, we will provide you with some more professional help.
                    </p>
                    <div align="center"><a href="~/Results/Advanced" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer5" style="display:none;">
                    <h3 style="margin-top:0px;">
                        Expert (recognized authority)
                    </h3>
                    <p>
                        You are already a composting expert, but you can still visit our website for more information.
                    </p>
                    <div align="center"><a href="~/Results/Expert" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
            </div>
            <div class="modal-footer text-muted">
                <div class="btn-default" id="finish1" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 1 })
                </div>
                <div class="btn-default" id="finish2" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 2 })
                </div>
                <div class="btn-default" id="finish3" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 3 })
                </div>
                <div class="btn-default" id="finish4" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 4 })
                </div>
                <div class="btn-default" id="finish5" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 5 })
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h2,h3{
        font-family:"Yeseva One"
    }

    .quiz_area{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .label-warning{
        background-color:#ff6a00;
    }

    .btn-primary{
        background-color:#12b322; 
        border-color:#12b322;
    }

    .btn-primary:hover{
        background-color:#088122; 
        border-color:#088122;
    }

    .btn-primary:not(:disabled):not(.disabled):active{
        background-color:#38f046; 
        border-color:#38f046;
    }

    .btn-primary:not(:disabled):not(.disabled).active{
        background-color:#4ad031; 
        border-color:#4ad031;
    } 
</style>
<!-- quiz_area_end -->

<script>
    $(function () {
        var i = 1;
        var totalCount = 0;
        $("label.btn").on('click', function () {
            var currentQuestion = '#question' + i;//'#question1'
            var currentQuiz = '#quiz' + i;
            var currentHint = '#hint' + i;
            var currentContent = '#hintcontent' + i;
            ++i;           
            var nextQuestion = '#question' + i;//'#question2'
            var nextQuiz = '#quiz' + i;
            var nextHint = '#hint' + i;
            var nextContent = '#hintcontent' + i;
            var choice = $(this).find('input:radio').val();
            if (parseInt(choice) === 1) {
                $('#correct').fadeIn();
                $('#correct').fadeOut(1200);
            } else {
                $('#incorrect').fadeIn();
                $('#incorrect').fadeOut(1200);
            }
            totalCount += parseInt(choice);
            $(currentQuiz).fadeOut();
            $(nextQuiz).fadeIn();
            $(currentHint).fadeOut();
            $(nextHint).fadeIn();
            $(currentContent).hide();
            
            $(currentQuestion).hide();
            $(nextQuestion).show();           
            if (i === 7) {
                if (totalCount === 0) {
                    $('#answer1').fadeIn();
                    $('#finish1').fadeIn();
                }
                else if (totalCount > 0 && totalCount < 2) {
                    $('#answer2').fadeIn();
                    $('#finish2').fadeIn();
                }
                else if (totalCount >= 2 && totalCount < 4) {
                    $('#answer3').fadeIn();
                    $('#finish3').fadeIn();
                }
                else if (totalCount >= 4 && totalCount < 6) {
                    $('#answer4').fadeIn();
                    $('#finish4').fadeIn();
                }
                else {
                    $('#answer5').fadeIn();
                    $('#finish5').fadeIn();
                }
            }
        });       
    });
</script>
