<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_a overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Self Test</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- quiz_area_start -->



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Quiz complete progress</h1>
            <div id="myProgress">
                <div id="myBar">0%</div>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="question1" class="modal-header">
                <h3>Q1. What should not be contained in your composting list?</h3>
            </div>
            <div id="question2" class="modal-header" style="display:none">
                <h3>Q2. Whenever your kitchen scraps container is full you should:</h3>
            </div>
            <div id="question3" class="modal-header" style="display:none">
                <h3>Q3. If your compost starts to smell what are the next step you should do?</h3>
            </div>
            <div id="question4" class="modal-header" style="display:none">
                <h3>Q4. Which of the following denotes compost is ready?</h3>
            </div>
            <div id="question5" class="modal-header" style="display:none">
                <h3>Q5. What is the best place you should put your compost bin?</h3>
            </div>
            <div id="question6" class="modal-header" style="display:none">
                <h3>Q6. Which is organic waste?</h3>
            </div>
            <div id="question7" class="modal-header" style="display:none">
                <h3>Q7. Why are leftover charcoal ashes from the BBQ non-compostable?</h3>
            </div>
            <div id="question8" class="modal-header" style="display:none">
                <h3>Q8. Which of the following statements about compost is entirely accurate (as opposed to partially accurate, or unproven)?</h3>
            </div>
            <div id="question9" class="modal-header" style="display:none">
                <h3>Q9. When is compost "finished" and safe to use?</h3>
            </div>
            <div id="question10" class="modal-header" style="display:none">
                <h3>Q10. What is the optimal size of a composting system?</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 5"> </div>
                <div class="quiz" id="quiz1" data-toggle="buttons">
                    <label id="1" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. Fruits and vegetable waste</label>
                    <label id="2" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Used paper towel and wood chips</label>
                    <label id="3" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Grains and small amounts of cooked food</label>
                    <label id="4" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">D. Large amounts of oil and meat </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz2" data-toggle="buttons" style="display:none">
                    <label id="5" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. Scatter dried garden waste on the top of the compost</label>
                    <label id="6" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Pour the food scarps on the top of the compost</label>
                    <label id="7" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Mix them into the compost with 3 or 4 stirs (takes 30 seconds or less)</label>
                    <label id="8" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">D. All of the above </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz3" data-toggle="buttons" style="display:none">
                    <label id="9" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. Stir thoroughly</label>
                    <label id="10" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Add more dry garden scraps</label>
                    <label id="11" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Add a few spoon fulls of ash, dolomite, or garden lime</label>
                    <label id="12" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">D. All of the above</label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz4" data-toggle="buttons" style="display:none">
                    <label id="13" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. When it smells tangy</label>
                    <label id="14" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">B. When it looks like black fluffy soil and smells earthy</label>
                    <label id="15" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. When it's dry and crumbly</label>
                    <label id="16" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. When the time length is more than one month </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz5" data-toggle="buttons" style="display:none">
                    <label id="17" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. A sunny spot</label>
                    <label id="18" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. A shady spot</label>
                    <label id="19" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Near your back door just for convenience</label>
                    <label id="20" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">D. A surface of earth, sand, or gravel that drains </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz6" data-toggle="buttons" style="display:none">
                    <label id="21" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. Plastic bags</label>
                    <label id="22" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Water bottles</label>
                    <label id="23" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">C. Newspaper</label>
                    <label id="24" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. Battery </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz7" data-toggle="buttons" style="display:none">
                    <label id="25" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">A. Toxic to microorganisms</label>
                    <label id="26" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Toxic to groundwater</label>
                    <label id="27" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Carry diseases</label>
                    <label id="28" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. No, it is compostable </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz8" data-toggle="buttons" style="display:none">
                    <label id="29" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. Compost is an equivalent replacement for synthetic fertilizer, as long as soil testing is used to calculate nutrient content.</label>
                    <label id="30" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">B. When added to soil, compost supports and/or stimulates natural biological processes beneficial to plants, such as nutrient cycling and disease supression.</label>
                    <label id="31" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. Compost eliminates nutrient run-off from farm fields.</label>
                    <label id="32" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. Compost has little to no effect on a soil's ability to adapt to climate change. </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz9" data-toggle="buttons" style="display:none">
                    <label id="33" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. When it smells good</label>
                    <label id="34" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">B. When an active compost pile fails to heat up once more, and very little of the original material can be recognized</label>
                    <label id="35" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">C. When it heats up</label>
                    <label id="36" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. It is always safe to use </label>
                    <br><br>
                </div>
                <div class="quiz" id="quiz10" data-toggle="buttons" style="display:none">
                    <label id="37" class="element-animation1 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">A. The bigger, the better</label>
                    <label id="38" class="element-animation2 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">B. Long and narrow</label>
                    <label id="39" class="element-animation3 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">C. About 3 feet high by 3 feet long by 3 feet wide</label>
                    <label id="40" class="element-animation4 btn btn-lg btn-danger btn-block" onclick="updateChoice(this.id)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="0">D. There is no limitation of the size </label>
                    <br><br>
                </div>
                <div id="answer1" style="display:none;">
                    <br><br>
                    <h3 style="margin-top:0px;">
                        Result:
                    </h3>
                    <br>
                    <h3 style="margin-top:0px;">
                        Fundamental Awareness (basic knowledge)
                    </h3>
                    <p>
                        You probably don't know anything about composting, or you only know some very basic knowledge, we will provide you with detailed process and related knowledge about composting.
                    </p>
                    <div align="center"><a href="~/Results/Fundamental" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer2" style="display:none;">
                    <br><br>
                    <h3 style="margin-top:0px;">
                        Result:
                    </h3>
                    <br>
                    <h3 style="margin-top:0px;">
                        Novice (limited experience)
                    </h3>
                    <p>
                        You only know some basic knowledge, and you are a novice in composting.
                    </p>
                    <div align="center"><a href="~/Results/Novice" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer3" style="display:none;">
                    <br><br>
                    <h3 style="margin-top:0px;">
                        Result:
                    </h3>
                    <br>
                    <h3 style="margin-top:0px;">
                        Intermediate (practical application)
                    </h3>
                    <p>
                        You already have an intermediate level of composting skills, but there are still some areas you can improve.
                    </p>
                    <div align="center"><a href="~/Results/Intermediate" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer4" style="display:none;">
                    <br><br>
                    <h3 style="margin-top:0px;">
                        Result:
                    </h3>
                    <br>
                    <h3 style="margin-top:0px;">
                        Advanced (applied theory)
                    </h3>
                    <p>
                        You already have advanced composting knowledge, we will provide you with some more professional help.
                    </p>
                    <div align="center"><a href="~/Results/Advanced" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>
                <div id="answer5" style="display:none;">
                    <br><br>
                    <h3 style="margin-top:0px;">
                        Result:
                    </h3>
                    <br>
                    <h3 style="margin-top:0px;">
                        Expert (recognized authority)
                    </h3>
                    <p>
                        You are already a composting expert, but you can still visit our website for more information.
                    </p>
                    <div align="center"><a href="~/Results/Expert" class="btn btn-primary btn-lg" style="background-color:#12b322; border-color:#12b322;">Learn more</a></div>
                </div>

                <div>


                    <button class="btn btn-primary btn-l btn-block" id="confirmBtn" onclick="enableBtn()" style="display:none; font-size:16px;">Confirm my choice</button>

                    <button class="btn btn-default btn-l btn-block" id="nextBtn" onclick="move()" type="button" disabled style="display:none; font-size:16px;">Next question</button>
                    <button class="btn btn-default btn-l btn-block" id="completeBtn" onclick="move()" type="button" disabled style="display:none; font-size:16px;">Complete</button>
                    <br>
                    <div id="yourAnswer" style="display:none">
                        <h3 padding-left:20px;"> Your answer is: </h3>
                    </div>

                    <div class="btn-default" id="correct" style="display:none">
                        <h3 style="color:forestgreen; padding-left:20px;">Correct</h3>
                    </div>
                    <div class="btn-default" id="incorrect" style="display:none">
                        <h3 style="color:red; padding-left:20px;">Incorrect</h3>
                    </div>


                </div>
            </div>

            <div>




                <div class="collapse" id="hintcontent1" style="display:none;">
                    <div class="card card-body">

                        <p>All food and drink scraps including chilli, garlic, citrus, grains, dairy and tiny amounts of meat. Food scraps are wet and high in nitrogen which helps compost break down. Substitutes include: manure, fresh grass clippings and seaweed.</p>
                        <p>All grass and plant clippings, leaves, mulch and wood chips. Garden scraps are dry and high in carbon so they'll stop your compost from smelling. Substitutes include: shredded paper, cardboard, coffee husks and grain husks.</p>
                        <p>Avoid adding more than 100g of meat, tofu, dairy, eggs or oils at one time. Technically anything organic (once living) can be composted. However, in a small backyard compost bin it's best to be careful and follow these guidelines.</p>
                        <h4 style="color:#12b322;">Correct Answer: D</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent2" style="display:none;">
                    <div class="card card-body">
                        <p>Keep a container or bucket in your kitchen to collect food and drink scraps. Empty the container into your compost bin every few days.</p>
                        <p>Keep your stirrer next to the compost and turn it every time you add food scraps. Sink your stirrer into the top 2/3 of your compost and pull it up several times, "tossing" the food scraps and letting fresh air in.</p>
                        <p>Scatter a bucket of garden scraps or clippings across the top every time. This keeps the top of the compost neat and deters vermin. The garden scraps will be mixed through next time you turn the compost.</p>
                        <h4 style="color:#12b322;">Correct Answer: D</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent3" style="display:none;">
                    <div class="card card-body">
                        <p>If it smells then it probably hasn't been stirred enough and is too wet. Give the whole compost a good stir for aeration and add more garden scraps. If smells are strong, sprinkle ash, dolomite or garden lime on top.</p>
                        <p>Composting is very easy and you won't have any problems if you "Food, Stir, Garden" every time.</p>
                        <p>Keeping your microbial workers happy is the secret to composting. If you have a problem, think about what might be imbalanced in terms of their home, diet, air and moisture.</p>
                        <h4 style="color:#12b322;">Correct Answer: D</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent4" style="display:none;">
                    <div class="card card-body">
                        <p>Your compost is ready to harvest if it looks like dark, rich soil and smells earthy. This normally takes 3 to 6 months.</p>
                        <p>The newer food scraps on the top may not have broken down, so harvest your compost from the bottom of the bin. Any scraps that haven't broken down yet can be thrown back in.</p>
                        <p>Don't worry about eggshells or avocado seeds not breaking down. If the rest of the compost is black, fluffy and smells earthy then it's okay. The eggshells won't be visible in your garden once you add a layer of mulch over the top.</p>
                        <h4 style="color:#12b322;">Correct Answer: B</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent5" style="display:none;">
                    <div class="card card-body">
                        <p>Install your compost bin on bare earth with good drainage and find a spot that is conveniently located, so that you can access it easily.</p>
                        <p>Keep your bin close to your house so it's convenient to empty your scraps. Position it away from windows and neighbours. Compost breaks down faster in the sun, but requires less stirring in the shade.</p>
                        <p>Good drainage is best. Place your compost on soil, sand or gravel that drains well. Avoid sealed surfaces like concrete because this will lead to soggy, smelly compost.</p>
                        <h4 style="color:#12b322;">Correct Answer: D</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent6" style="display:none;">
                    <div class="card card-body">
                        <p>Potential sources of compostable materials, or feedstocks, include residential, agricultural and commercial waste streams.</p>
                        <p>There are two broad categories of organic solid waste: green waste and brown waste. Green waste is generally considered a source of nitrogen and includes pre- and post-consumer food waste, grass clippings, garden trimmings and fresh leaves. Animal carcasses, roadkill and butcher residue can also be composted and these are considered nitrogen sources. Brown waste is a carbon source; typical examples are dried vegetation and woody material such as fallen leaves, straw, woodchips, limbs, logs, pine needles, sawdust and wood ash (not charcoal ash).</p>
                        <p>Human excreta can be added as an input to the composting process since it is a nitrogen-rich organic material. It can be either composted directly in composting toilets, or indirectly in the form of sewage sludge after it has undergone treatment in a sewage treatment plant. </p>
                        <h4 style="color:#12b322;">Correct Answer: C</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent7" style="display:none;">
                    <div class="card card-body">
                        <p>Usually, it is suggested that coal which is left over from barbecue or grill cannot be composed. This is because they do not contain only wood, but also a lot of other harmful chemicals that may bind with the environment and create gases that might stay in the environment. Another reason why grill or barbecue ashes are suggested not to be composted underground is that once there are put under the ground, too much of them can actually cause an imbalance of the soil PH, besides leading to the release of a lot of nitrogen within the soil.</p>
                        <p>Since most charcoal ashes contain not only wood but also include borax lighter fluid and fillers of different sorts, they can actually be very dangerous when you think of composting them. They can't be used as fertilizer and affects the growth of plants and causes risks on human health. </p>
                        <h4 style="color:#12b322;">Correct Answer: A</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent8" style="display:none;">
                    <div class="card card-body">
                        <p>When added to soil, compost supports and/or stimulates natural biological processes beneficial to plants, such as nutrient cycling and disease suppression.</p>
                        <h4 style="color:#12b322;">Correct Answer: B</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent9" style="display:none;">
                    <div class="card card-body">
                        <p>Compost is ready or finished when it looks, feels and smells like rich, dark earth rather than rotting vegetables. In other words, it should be dark brown, crumbly and smell like earth which means an active compost pile fails to heat up once more, and very little of the original material can be recognized.</p>
                        <p>While the majority of organic materials should not be recognizable in finished compost, it's okay if there are a few stubborn materials, such as corncobs or wood chips that do not decompose. These materials should not be used in the finished compost, though - they should be filtered out by a process called 'screening'.</p>
                        <h4 style="color:#12b322;">Correct Answer: B</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>
            <div>

                <div class="collapse" id="hintcontent10" style="display:none;">
                    <div class="card card-body">
                        <p>The ideal size for a compost bin is 3 feet high, 3 feet wide, and 3 feet deep. One compost bin may not be enough for your needs, so you should know how much debris you generate. </p>
                        <p>In all of these systems, the correct pile size balances the heat generated by microbial decomposition with the heat lost through conduction, convection, and radiation, keeping most of the compost between 40 Celsius and 60 Celsius.</p>
                        <h4 style="color:#12b322;">Correct Answer: C</h4>
                        @*<a href="~/Home/Tip" target="_blank" class="btn btn-info" role="button">Click to learn more!</a>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer text-muted">
                <div class="btn-default" id="finish1" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 1 })
                </div>
                <div class="btn-default" id="finish2" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 2 })
                </div>
                <div class="btn-default" id="finish3" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 3 })
                </div>
                <div class="btn-default" id="finish4" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 4 })
                </div>
                <div class="btn-default" id="finish5" style="display:none">
                    @Html.ActionLink("Results", "Quiz", new { id = 5 })
                </div>
            </div>
        </div>
    </div>
</div>


<!-- quiz_area_end -->

<style>
    body {
        background-color: #fff;
    }

    h1, h2, h3 {
        /*font-family: "Yeseva One"*/
        font-family: cursive
    }

    label.btn {
        padding: 18px 60px;
        white-space: normal;
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s
    }

        label.btn:hover {
            text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1)
        }

    .btn-danger:hover {
        background-color: #4ee853;
        border-color: #4ee853;
    }

    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
        background-color: #005905;
        border-color: #005905;
    }

    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
        background-color: #005905;
        border-color: #005905;
    }


    label.btn-block {
        text-align: left;
        background: #12b322;
        border-color: #12b322;
        position: relative
    }

    label .btn-label {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        padding: 0 10px;
        background: #005905;
        height: 100%
    }

    label .glyphicon {
        top: 34%
    }

    .element-animation1 {
        animation: animationFrames ease .8s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease .8s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease .8s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }

    .element-animation2 {
        animation: animationFrames ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }

    .element-animation3 {
        animation: animationFrames ease 1.2s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1.2s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }

    .element-animation4 {
        animation: animationFrames ease 1.4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1.4s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1.4s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }



    .modal-header {
        background-color: transparent;
        color: inherit
    }

    .modal-body {
        min-height: 300px
    }

    #myProgress {
        width: 100%;
        background-color: #a19e9e;
    }

    #myBar {
        width: 0%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>

<script>
    $('#confirmBtn').fadeIn();
    $('#nextBtn').fadeIn();
    var i = 0;
    var j = 0;
    var k = 1;
    var l = 1;
    var m = 2;
    var testScore = 0;
    var choiceValue = -1;

    var currentHint = '#hint' + l;
    var currentContent = '#hintcontent' + l;
    var nextHint = '#hint' + l;
    var nextContent = '#hintcontent' + l;

    function move() {
        var currentQuestion = '#question' + l;//'#question1'
        var currentQuiz = '#quiz' + l;
        choiceValue = -1;
        $(currentHint).fadeOut(1200);

        $(currentContent).fadeOut(1200);

        currentHint = '#hint' + m;
        currentContent = '#hintcontent' + m;
        ++l;
        m = m + 1;
        var nextQuestion = '#question' + l;//'#question2'
        var nextQuiz = '#quiz' + l;
        nextHint = '#hint' + m;
        nextContent = '#hintcontent' + m;

        if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = j;
            var id = setInterval(frame, 10);
            function frame() {
                if (width > 100) {
                    width = 100;
                }





                if (width >= (10 * k)) {
                    clearInterval(id);
                    i = 0;
                    j = j + 10;
                    ++k;
                    document.getElementById("nextBtn").disabled = true;
                    document.getElementById("confirmBtn").disabled = false;
                    $('#correct').fadeOut(1200);
                    $('#incorrect').fadeOut(1200);
                    $('#yourAnswer').fadeOut(1200);
                    $('#confirmBtn').fadeOut(1200);
                    $('#nextBtn').fadeOut(1200);
                    $('#completeBtn').fadeOut(1200);
                    $(currentQuiz).fadeOut();
                    $(nextQuiz).fadeIn();


                    $(currentQuestion).hide();
                    $(nextQuestion).show();
                    if (l >= 11) {
                        if (testScore <= 2) {
                            $('#answer1').fadeIn();
                            $('#finish1').fadeIn();
                        }
                        else if (testScore > 2 && testScore <= 4) {
                            $('#answer2').fadeIn();
                            $('#finish2').fadeIn();
                        }
                        else if (testScore > 4 && testScore <= 6) {
                            $('#answer3').fadeIn();
                            $('#finish3').fadeIn();
                        }
                        else if (testScore > 6 && testScore <= 8) {
                            $('#answer4').fadeIn();
                            $('#finish4').fadeIn();
                        }
                        else if (testScore > 8) {
                            $('#answer5').fadeIn();
                            $('#finish5').fadeIn();
                        }
                    } else {
                        if (l == 10) {
                            $('#confirmBtn').fadeIn();
                            $('#completeBtn').fadeIn();
                            document.getElementById("completeBtn").disabled = true;
                        } else {
                            $('#confirmBtn').fadeIn();
                            $('#nextBtn').fadeIn();
                        }

                    }


                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width + "%";
                }
            }
        }
    }







    function updateChoice(clicked_id) {
        choiceValue = parseInt(clicked_id);
    }
    function enableBtn() {
        var youAnswer = document.getElementById("yourAnswer");
        document.getElementById("confirmBtn").disabled = true;
        document.getElementById("nextBtn").disabled = false;
        document.getElementById("completeBtn").disabled = false;
        if (parseInt(choiceValue) === 4 || parseInt(choiceValue) === 8 || parseInt(choiceValue) === 12 || parseInt(choiceValue) === 14 || parseInt(choiceValue) === 20 || parseInt(choiceValue) === 23 || parseInt(choiceValue) === 25 || parseInt(choiceValue) === 30 || parseInt(choiceValue) === 34 || parseInt(choiceValue) === 39) {
            var currentAnswer = document.getElementById("correct");
            $(youAnswer).fadeIn();
            $(currentAnswer).fadeIn();
            testScore = testScore + 1;
        }
        else {
            var currentAnswer = document.getElementById("incorrect");
            $(youAnswer).fadeIn();
            $(currentAnswer).fadeIn();
            $(currentHint).fadeIn();
            $(currentContent).fadeIn();
        }
    }


</script>
