<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Self Test</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- quiz_area_start -->
<div class="quiz_area">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div id="question1">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">1</span> What should not be contained in your composting list?</h3>
                </div>
                <div id="question2" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">2</span> Whenever your kitchen scraps container is full you should:</h3>
                </div>
                <div id="question3" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">3</span> If your compost starts to smell what are the next step you should do?</h3>
                </div>
                <div id="question4" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">4</span> Which of the following denotes compost is ready?</h3>
                </div>
                <div id="question5" style="display:none;">
                    <h3 style="line-height:36px"><span class="label label-warning" id="qid">5</span> What is the best place you should put your compost bin?</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="quiz" id="quiz1" data-toggle="buttons">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Fruits and vegetable waste</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Used paper towel and wood chips</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Grains and small amounts of cooked food</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. Large amounts of oil and meat</label>
                </div>
                <div class="quiz" id="quiz2" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Scatter dried garden waste on the top of the compost</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Pour the food scarps on the top of the compost</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Mix them into the compost with 3 or 4 stirs (takes 30 seconds or less)</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above</label>
                </div>
                <div class="quiz" id="quiz3" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. stir thoroughly</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. add more dry garden scraps</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. add a few spoon fulls of ash, dolomite, or garden lime</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. all of the above</label>
                </div>
                <div class="quiz" id="quiz4" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. when it smells tangy</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>B. when it looks like black fluffy soil and smells earthy</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. when it's dry and crumbly</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. when the time length is more than one month</label>
                </div>
                <div class="quiz" id="quiz5" data-toggle="buttons" style="display:none;">
                    <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. a sunny spot</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. a shady spot</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. near your back door just for convenience</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. a surface of earth, sand, or gravel that drains</label>
                </div>

                <div class="btn-default" id="correct" style="display:none">
                    <h3 style="color:forestgreen">Correct</h3>
                </div>
                <div class="btn-default" id="incorrect" style="display:none">
                    <h3 style="color:red">Incorrect</h3>
                </div>              

                <div id="answer1" style="display:none;">
                    <h3>
                        Fundamental Awareness (basic knowledge)
                    </h3>
                </div>
                <div id="answer2" style="display:none;">
                    <h3>
                        Novice (limited experience)
                    </h3>
                </div>
                <div id="answer3" style="display:none;">
                    <h3>
                        Intermediate (practical application)
                    </h3>
                </div>
                <div id="answer4" style="display:none;">
                    <h3>
                        Advanced (applied theory)
                    </h3>
                </div>
                <div id="answer5" style="display:none;">
                    <h3>
                        Expert (recognized authority)
                    </h3>
                </div>
            </div>
            <div class="modal-footer text-muted">
                <div class="btn-default" id="finish1" style="display:none">
                    @Html.ActionLink("More info", "Quiz", new { id = 1 })
                </div>
                <div class="btn-default" id="finish2" style="display:none">
                    @Html.ActionLink("More info", "Quiz", new { id = 2 })
                </div>
                <div class="btn-default" id="finish3" style="display:none">
                    @Html.ActionLink("More info", "Quiz", new { id = 3 })
                </div>
                <div class="btn-default" id="finish4" style="display:none">
                    @Html.ActionLink("More info", "Quiz", new { id = 4 })
                </div>
                <div class="btn-default" id="finish5" style="display:none">
                    @Html.ActionLink("More info", "Quiz", new { id = 5 })
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .quiz_area{
        margin-top: 20px;
        margin-bottom: 30px;
    }
</style>
<!-- quiz_area_end -->

<script>
    $(function () {
        var i = 1;
        var totalCount = 0;
        $("label.btn").on('click', function () {
            var currentQuestion = '#question' + i;//'#question1'
            var currentQuiz = '#quiz' + i;
            ++i;           
            var nextQuestion = '#question' + i;//'#question2'
            var nextQuiz = '#quiz' + i;
            var choice = $(this).find('input:radio').val();
            if (parseInt(choice) === 1) {
                $('#correct').fadeIn();
                $('#correct').fadeOut();
            } else {
                $('#incorrect').fadeIn();
                $('#incorrect').fadeOut();
            }
            totalCount += parseInt(choice);
            $(currentQuiz).fadeOut();
            $(nextQuiz).fadeIn();
            $(currentQuestion).hide();
            $(nextQuestion).show();           
            if (i === 6) {
                if (totalCount === 0) {
                    $('#answer1').fadeIn();
                    $('#finish1').fadeIn();
                }
                else if (totalCount > 0 && totalCount < 2) {
                    $('#answer2').fadeIn();
                    $('#finish2').fadeIn();
                }
                else if (totalCount >= 2 && totalCount < 4) {
                    $('#answer3').fadeIn();
                    $('#finish3').fadeIn();
                }
                else if (totalCount >= 4 && totalCount < 6) {
                    $('#answer4').fadeIn();
                    $('#finish4').fadeIn();
                }
                else {
                    $('#answer5').fadeIn();
                    $('#finish5').fadeIn();
                }
            }
        });       
    });
</script>
