@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Composting</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
@*<h2>Index</h2>*@

<!--================Tip Area start=================-->
<section class="blog_area section-padding" style="padding-top: 60px;padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <a href="~/Home/Tip1"><img class="card-img rounded-0" src="~/img/Tip/tip1.jpg" alt="" style="height: 365px;"></a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="~/Home/Tip1">
                                <h2>Want to turn your kitchen and garden waste into ‘black gold’?</h2>
                            </a>
                            <p style="margin-bottom: 0px;">
                                Do you like the idea of composting but haven’t tried it because it seems too difficult? Put simply, composting breaks down organic matter, which is anything that was once living. This means you are recycling vital nutrients so you can use them to improve the quality of your soil. Up to half of the waste thrown out by the average Australian household is organic material.
                            </p>
                            <div style="text-align:right"><a href="~/Home/Tip1">Read ></a></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--category(post) area-->
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Category</h3>
                        <div class="media post_item">
                            <a href="~/Home/Tip1"><img src="~/img/Tip/tip1.jpg" alt="post" style="height: 80px; width: 80px;"></a>
                            <div class="media-body">
                                <a href="~/Home/Tip1">
                                    <h3>Want to turn your kitchen and garden waste into ‘black gold’?</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <a href="~/Home/Tip2"><img src="~/img/Tip/tip2.jpg" alt="post" style="height: 80px; width: 80px;"></a>
                            <div class="media-body">
                                <a href="~/Home/Tip2">
                                    <h3>Are you new to composting?</h3>
                                </a>
                            </div>
                        </div>
                    </aside>
                    <div id="home_data" class="section_title mb-40 text-center">
                        @*<a href="~/Home/GreenWaste" class="boxed-btn3" style="margin-bottom:10px; margin-top:5px;"><font color="#ffffff">Find more about green waste ?</font></a>*@
                        @*<a href="~/Results/Intro" class="boxed-btn3" style="margin-bottom:10px; margin-top:5px;"><font color="#ffffff">Test your understanding</font></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area section-padding" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <a href="~/Home/Tip2"><img class="card-img rounded-0" src="~/img/Tip/tip2.jpg" alt="" style="height: 365px;"></a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="~/Home/Tip2">
                                <h2>Are you new to composting?</h2>
                            </a>
                            <p style="margin-bottom: 0px;">
                                For anyone new to composting, or those who simply want to improve their existing compost heaps, we’ve prepared a round-up of top Home and great stuff that will help you get on top of your compost.
                            </p>
                            <div style="text-align:right"><a href="~/Home/Tip2">Read ></a></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-left: 380px; margin-top: 0px;">
    <a href="~/Home/LifeScene" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Back</a>
</div>           
            <!--================Tip Area end=================-->
            <!--================fk db Area start=================-->
            @*<section class="blog_area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mb-5 mb-lg-0">
                                <div class="blog_left_sidebar">
                                    @foreach (var item in Model)
                                    {
                                        <article class="blog_item">
                                            <div class="blog_item_img">
                                                <img class="card-img rounded-0" src="@Html.DisplayFor(modelItem => item.Img_src)" alt="" style="height: 365px;">
                                            </div>
                                            <div class="blog_details">
                                                @if (item.Id == 1)
                                                {
                                                    <a class="d-inline-block" href="~/Home/Tip1">
                                                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                                                    </a>
                                                    <a href="~/Home/Tip1">Read ></a>
                                                }
                                                @if (item.Id == 2)
                                                {
                                                    <a class="d-inline-block" href="~/Home/Tip2">
                                                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                                                    </a>}
                                                <p>
                                                    @Html.DisplayFor(modelItem => item.Content)
                                                </p>
                                                <ul class="blog-info-link">
                                                        <li><i class="fa fa-user"></i> @Html.DisplayFor(modelItem => item.House_category.Type)</li>
                                                        <li><i class="fa fa-comments"></i> @Html.DisplayFor(modelItem => item.Description)</li>
                                                    </ul>
                                            </div>
                                        </article>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="blog_right_sidebar">
                                    <!--search button start-->
                                    <aside class="single_sidebar_widget search_widget">
                                            <form action="#">
                                                <div class="form-group">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                                               onfocus="this.placeholder = ''"
                                                               onblur="this.placeholder = 'Search Keyword'">
                                                        <div class="input-group-append">
                                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                                        type="submit">
                                                    Search
                                                </button>
                                            </form>
                                        </aside>
                                    <!--search button end-->
                                    <!--category area-->
                                    <aside class="single_sidebar_widget post_category_widget">
                                            <h4 class="widget_title">Category</h4>
                                            <ul class="list cat-list">
                                                @foreach (var item in Model)
                                                {
                                                <li>
                                                    <a href="#" class="d-flex">
                                                        <p>@item.House_category.Type</p>
                                                        <p>(@item.House_category.Quantity)</p>
                                                    </a>
                                                </li>
                                                }
                                            </ul>
                                        </aside>


                                    <!--category(post) area-->
                                    <aside class="single_sidebar_widget popular_post_widget">
                                        <h3 class="widget_title">Category</h3>
                                        @foreach (var item in Model)
                                        {
                                            <div class="media post_item">
                                                <img src="@Html.DisplayFor(modelItem => item.Img_src)" alt="post" style="height: 80px; width: 80px;">
                                                @if (item.Id == 1)
                                                {
                                                    <div class="media-body">
                                                        <a href="~/Home/Tip1">
                                                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                                        </a>
                                                    </div>}
                                                @if (item.Id == 2)
                                                {
                                                    <div class="media-body">
                                                        <a href="~/Home/Tip2">
                                                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                                        </a>
                                                    </div>}
                                                <div class="media-body">
                                                        <a href="#">
                                                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                                        </a>
                                                    </div>
                                            </div>
                                        }
                                        <div class="media post_item">
                                                <img src="~/img/post/post_1.png" alt="post">
                                                <div class="media-body">
                                                    <a href="single-blog.html">
                                                        <h3>From life was you fish...</h3>
                                                    </a>
                                                </div>
                                            </div>
                                    </aside>
                                    <div id="home_data" class="section_title mb-40 text-center">
                                        <a href="~/Home/GreenWaste" class="boxed-btn3"><font color="#ffffff">Find more about green waste ?</font></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@
            <!--================fk db Area end=================-->
            <!--================Page number Area start=================-->
            @*<nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>*@
            <!--================Page number Area End=================-->
            <!--================Edit Area Start=================-->
            @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Img_src)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.House_category.Type)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Img_src)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.House_category.Type)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>*@
            <!--================Edit Area End=================-->
